<p class="quotes-title">List of Quotes!</p>

<div class="quotes-container">
  <div *ngFor="let quote of quotes"
       class="quote-card"
       [ngClass]="{'henri-matisse': quote.isHenriMatisse}">
    <p class="quote-title">Title: {{quote.title}}</p>
    <ul class="quote-details">
      <li class="quote-text">“{{quote.quotes}}”</li>
      <li class="quote-author"><span>Author:</span> {{quote.author}}</li>
      <li class="quote-published"><span>Published:</span> {{quote.published}}</li>
    </ul>
  </div>
</div>
